
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeddingApplication</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
       <div class="header">
           <div class="title-holder">
                <h1>Hailey Haase and Wayton Pebb</h1>
           </div>
           <div class="links-holder">
                <a asp-area="" asp-action="Index" asp-controller="Home">Home</a>
                <a asp-area="" asp-action="Index" asp-controller="WishList">Wish List</a>
           </div>
       </div>
    </header>
    <section class="section-content">
        @RenderBody()
    </section>

    <footer>
        <span style="margin: 0 auto;" class="footer"></span>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
